.container {
    width: 80%;
}

.bio-pic {
    position: absolute;
    margin: 135px 910px 0px;
    border: solid 5px grey;
}

.box {
    margin: 0px 250px 100px 180px;
    font-size: 20px;
    line-height: 35px;
    word-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
    .box {
        margin: 0;
        padding: 80px 30px 20px;
    }
    .bio-pic {
        display: none;
    }
}