.container {
    width: 80%;
}

p {
    margin: 100px 150px 32px 180px;
    font-size: 20px;
    line-height: 35px;
    word-spacing: 5px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.bio-pic {
    position: absolute;
    margin: 135px 910px 0px;
    border: solid 5px grey;
}